body {
    /*height: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-content: stretch;*/
}

.menu {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: stretch;
}

.menu-panel {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 46px;
    gap: 10px;
    /*gap: 234px;*/

    width: 100%;
    max-width: 1278px;
    height: 60px;

    background: rgba(107, 64, 255, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-panel .flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
    width: fit-content;
    height: 30px;
}

.menu-panel .flex-row .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    width: fit-content;
    height: 30px;
}

.menu-panel .flex-row .button img {
    width: 30px;
    height: 30px;
}

.menu-panel .flex-row .button p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.menu-panel .search {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    padding: 5px 5px 5px 10px;
    gap: 0;

    width: 100%;
    max-width: 310px;
    height: 40px;

    background: #201F41;
    border: 1px solid #929292;
    border-radius: 30px;
}

.menu-panel .search .button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 10px;

    background: #6B40FF;
    opacity: 0.8;
    border-radius: 34px;
    cursor: pointer;
}

.menu-panel .search .button:active{
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.25);
}

.menu-panel .search .button:active > img {
    opacity: 1;
    filter: none;
}

.menu-panel .search .button > img {
    width: 30px;
    height: 30px;

    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 1));
    border-radius: 15px;
}


.menu-panel .search input {
    background: #201F41;
    box-sizing: border-box;

    width: 100%;
    min-width: 80px;
    height: 38px;
    border: none;
    border-radius: 28px;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    outline: none;
    color: #FFFFFF;

    opacity: 0.5;
}

input:focus, input:hover{
    transition: 0.2s;
    opacity: 1;
}

main {
    position: absolute;
    top: 50px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

h1 {
    margin: 30px 0 30px 0;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
}

.part1 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    justify-content: center;
    align-items: flex-start;
    gap: 10px/*70px*/;
    margin: 0 auto 0 auto;
    /*margin-right: auto;*/
    /*margin-bottom: 100px;*/
    align-content: stretch;
    flex: 1;

    max-width: 1240px;
    max-height: 440px;
}

.part1 .display {
    background: url(photo/poster.png) no-repeat center center;
    filter: drop-shadow(-5px -5px 4px rgba(0, 0, 0, 0.25)) drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
    padding: 0 26px 0 26px;
    width: 55.5555555556vw;
    height: 100vw;

    max-width: 800px;
    max-height: 440px;
}

.part1 .display .options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    margin-left: 10px;

    position: absolute;
    width: 318px;
    height: 110px;
    bottom: 30px;
}

.part1 .display .options .button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    gap: 5px;

    background: rgba(40, 245, 204, 0.4);
    border-radius: 30px;
}

.part1 .display .options .button p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}
.part1 .display .options .button img {
    width: 30px;
    height: 30px;
}

.part1 .display .options .button:hover {
    transition: 0.2s;
    background: rgba(40, 245, 204, 0.7);
}

.options .button:active {
    background: rgba(40, 245, 204, 1);
}

.part1 .display .data {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10px;

    position: absolute;
    width: 133px;
    height: 103px;
    right: 26px;
    bottom: 33.5px;

}

.part1 .display .data .platforms {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.part1 .display .data .platforms > img {
    width: 50px;
    height: 50px;
}

.part1 .display .data .text {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: right;
    color: #FFFFFF;
}


.part1 .game-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-end;
    width: 25vw;
    /*max-width: 360px;*/
    max-height: 440px;
    height: /*available*/440px;
    max-width: 360px;
    /*max-height: ;*/
    /*gap: 40px;*/
    gap: 40px;
    flex: 1;
}
.part1 .game-column label {
    display: contents;
}

.part1 .game-column input[type=radio] {
    /*width:fit-content;*/
    /*height: fit-content;*/
    display: contents;
}

.part1 .game-column input[type=radio]:checked + label > div {
    transition: 0.2s;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.25);
}

.part1 .game {
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /*min-height: 80px;*/
    align-content: stretch;
    /*align-items:stretch; !*????*!*/

    background: rgba(0, 158, 253, 0.8);
    box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.25), inset -4px 4px 4px rgba(0, 0, 0, 0.25);
}

/*.part1 .active {*/
/*    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.25);*/
/*}*/

.part1 .game > img {
    box-sizing: border-box;
    /*width: 50%;*/
    width: 50%;
    height: auto; /* TODO СЛАВА БОГУ ЗА auto! */
    margin-top: auto;
    margin-bottom: auto;
}

.part1 .game .content {
    box-sizing: border-box;
    min-width: min-content;
    width: 100%;
    height: available; /* TODO ДАААААААААААААААААААААААА!!!! ЦЯ ХРІНЬ В ПОЄДНАНІ З align-content ДАЄ РЕЗУЛЬТАТ */
    padding: 5px /*10px*/0 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: flex-start;*/
    align-content: stretch;
}

.part1 .game .content > p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    line-height: 100%;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

.part1 .game .data {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.part1 .game .data > p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.part1 .game .data .platforms {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.part1 .game .data .platforms > img {
    width: 25px;
    height: 25px;
}



.part2 {
    margin-top: 100px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: normal;*/
    /*align-items: normal;*/
    /*justify-content: space-between;
    align-items: flex-start;*/

}

.part2 .row {
    margin: 0 auto 0 auto;
    width: /*1240px*/100%;
    max-width: 1240px;
    height: fit-content;
}

.part2 .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 35px;/*clamp(35px, -0.208333333rem + 9.259259259vw, 130px);*/
    /*margin-left: 9.02777777778%;*/

    /*box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 15px 1px 0;
    gap: 15px;*/

    /*position: absolute;*/
    /*width: 497px;
    height: 64px;*/
    width: fit-content;
    margin-right: auto;
    /*left: 0;*/
    /*top: 0;*/

    background: rgba(107, 64, 255, 0.2);
    border-radius: 10px 10px 0 0;
}

.part2 .buttons input[type=radio] {
    display: contents;
}

.part2 .buttons .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    gap: 8px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.part2 .buttons .button > img {
    width: 48px;
    height: 48px;
}

.part2 .buttons .button > p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 25.6px;
    /*line-height: 38px;*/
    color: #FFFFFF;
}

/*.part2 .buttons .active {*/
.part2 .buttons input[type=radio]:checked + label {
    transition: 0.2s;
    background: rgba(107, 64, 255, 0.7);
}

.part2 .flex-column {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /*align-content: stretch;*/
    padding: 14px /*129px*/0 14px 0;
    background: rgba(107, 64, 255, 0.75);
}

.part2 .flex-column .bar {
    max-width: 1180px;
    /*width: 81.9444444444vw;*/
    width: 100%;
    /*width: 1180px;*/
    height: 52px;
    /*padding-right: 20px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /*padding: 8px 19px;*/
    /*flex: 1;*/

    background: rgba(40, 245, 204, 0.4);
    border-radius: 15px 15px 0 0;
}

.part2 .flex-column .button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
    align-items: center;
    padding: 3px 14px;
    gap: 10px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    border-radius: 18px;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    width: fit-content;
    height: fit-content;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.06em;

    color: #FFFFFF;
}

.part2 .flex-column .bar .button:hover {
    background: rgba(255, 255, 255, 0.4);
    /*color: rgba(0, 158, 253, 0.8);*/
    /*border-color: rgba(0, 158, 253, 0.8);*/
}

.part2 .flex-column .bar .button:active {
    background: rgba(255, 255, 255, 0.4);
    color: rgba(0, 158, 253, 0.8);
    border-color: rgba(0, 158, 253, 0.8);
}

.part2 .flex-column .game-column {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding: 0;
    width: 100%;
    gap: 24px;
    margin-bottom: 200px;
    max-width: 1180px;
    /*width: 81.9444444444vw;*/
    /*width: 100%;*/
}

.part2 .game-column .game {
    /*box-sizing: border-box;*/
    /*width: 1180px;*/
    /*width: available;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch; /* TODO ЦЕ ВОНО. ВОНО ЗАБИРАЄ ВСЮ ВИСОТУ В БЛОЦІ FLEX-ROW*/
    padding: 0;
    /*flex: 1 1 auto;*/
    /*max-height: 250px;*/
    height: fit-content;
    /*max-width: 1180px;*/


    background: #1C1026;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.part2 .game-column .game > img {
    /*display: block TODO ?????*/
    cursor: pointer;
    filter: drop-shadow(4px 0px 4px rgba(255, 255, 255, 0.25));
    /*max-height: 250px;*/

    height: auto;
    width: auto;
    max-width:445px;
    max-height:100%;
    /*object-fit: cover;*/
    /*width: 445px;
    height: 100%;*/

    /*background: url(image.png);*/
}

.part2 .game-column .game .info {
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    align-content: stretch;
    padding: 25px 20px 22px;
    gap: 12px;
    background: rgba(0,0,0,0);

    flex: 1;
    /*flex: 1 1 auto;*/
}

.part2 .game-column .game .info > h6 {
    cursor: pointer;
    font-family: 'Share Tech', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    /*line-height: 45px;*/
    /* identical to box height */
    color: #FFFFFF;
}

.part2 .game-column .game .info > p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    /*line-height: 33px;*/
    letter-spacing: -0.06em;

    color: rgba(255, 255, 255, 0.75);
    height: available;
    flex: 1;/* TODO І ЦЕ ТЕЕЖ!!!!! ААААА НАРЕШТІ */
}

.part2 .game-column .game .info .data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
    padding: 0;
    /*gap: 477px;*/
}

.part2 .game-column .game .info .data > p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    /*line-height: 47px;*/
    text-align: right;
    color: #FFFFFF;
}

.part2 .game-column .game .info .data .platforms {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.part2 .game-column .game .info .data .platforms > img {
    width: 50px;
    height: 50px;
}