* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    /*height: 100%;*/
    height: fit-content;
    /*min-width: 360px;*/
    min-height: 100vh;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*

body {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-width: 360px;
    min-height: 100vh;
    !*height: 100%;*!
}
*/

button {
    display: contents;
}

a {
    color: inherit;
    text-decoration: none;
    display: contents;
}

nav {
    position: absolute;
    box-sizing: border-box;
    /*top: 0;*/
    /*left: 0;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px clamp(15px, -0.416666667rem + 6.018518519vw, 80px);
    gap: 701px;

    width: 100%;
    height: 50px;

    background: #1C1026;
    box-shadow: 0 -4px 4px 4px #FFFFFF;
    z-index: 2;
}

nav .text {
    min-width: fit-content;
    max-height: 27px;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

nav .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

nav .right {
    position: absolute;
    right: clamp(0px, -0.416666667rem + 6.018518519vw, 80px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;

}

nav .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    width: auto;
    height: 46px;
}

nav .logo-img {
    width: 46px;
    height: 46px;
}

nav .link {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
    width: auto;
    height: 27px;
}

nav .right .menu {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: none;
    pointer-events: none;
    /* cursor: pointer; */
}

nav .right .menu .button {
    /* z-index: 1; */
    -webkit-appearance: none;
    display: flex;
    flex-direction: column;
    background: transparent;
    align-items: center;
    gap: 4px;

    width: 30px;
    height: 26px;
    top: 12px;
    cursor: pointer;
    
    pointer-events: auto;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

nav .right .menu .button > svg {
    width: 30px;
    height: 6px;

    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
    border-radius: 5px;
}

nav .right .menu .button:hover > svg {
  /* transition: 0.4s; */
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  -webkit-transition: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%) 3000ms linear;
  -moz-transition: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%) 3000ms linear;
  -ms-transition: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%) 3000ms linear;
  -o-transition: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%) 3000ms linear;
  transition: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%) 3000ms linear;
}

/* nav .right .menu .button:active > svg {
  transition: 0.2s;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);
  outline: #FFFFFF solid 3px;
} */


nav .right .menu:focus-within .button {
  pointer-events: none;
}

nav .right .menu .bg {
  position: fixed;
  /* position: absolute; */
  top: 53px;
  left: 0;
  width: 100%;
  height: calc(100% - 53px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}

nav .right .menu:focus-within .bg {
  visibility: visible;
  opacity: .6;
}

nav .right .menu * {
  visibility: visible;
  box-sizing: border-box;
}

nav .right .menu .slide-in {
  cursor: initial;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* gap: 167px; */

  position: fixed;
  /* position: absolute; */
  top: 0;
  right: 0;
  width: 250px;
  /* height: 657px; */
  height: 100%;
  background: #0A0111;
  border-left: 1px solid #FFFFFF;
  
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

nav .right .menu .slide-in .nav-content {
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 22.5px;

  gap: 18px;
  /* width: 205px; */
  /* height: 175px; */
}

nav .right .menu .slide-in .nav-content .link {
  display: flex;
}

nav .right .menu .slide-in .nav-content .flex-row {
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 59px; */
  align-self: stretch;
  /* width: 205px; */
  /* height: 27px; */
}

nav .cash {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 140%; */
  /* or 22px */
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

nav .right .menu .slide-in .nav-content .nav-column {
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

nav .right .menu .slide-in .footer {
  height: 100%;
  width:100%;
  padding: 15px 24px 18px 24px;
  max-height: 237px;
  background: rgba(28, 16, 38, 0.5);
  box-shadow: 0px -4px 4px rgba(255, 255, 255, 0.25);
}

nav .right .menu .slide-in .footer .header {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  /* line-height: 21px; */
  /* identical to box height */
  color: #FFFFFF;
  min-height: fit-content;
}

nav .right .menu .slide-in .footer .media {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

nav .right .menu .slide-in .footer .text {
  margin-top: 15px;
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  /* line-height: 130%; */
  /* or 16px */
  color: #FFFFFF;
  min-height: fit-content;
}

nav .right .menu:focus-within .slide-in {
  transform: none;
}



.menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    align-items: stretch;
}

.menu-panel {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 46px;
    gap: 10px;
    /*gap: 234px;*/

    width: 100%;
    max-width: 1278px;
    /*height: 60px;*/

    background: rgba(107, 64, 255, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-panel .flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
    width: fit-content;
    /*height: 30px;*/
}

.menu-panel .flex-row .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    width: fit-content;
    height: 30px;
}

.menu-panel .flex-row .button img {
    width: 30px;
    height: 30px;
}

.menu-panel .flex-row .button p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.menu-panel .search {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    padding: 5px 5px 5px 10px;
    gap: 0;

    width: 100%;
    max-width: 310px;
    height: 40px;

    background: #201F41;
    border: 1px solid #929292;
    border-radius: 30px;
}

.menu-panel .search .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 10px;

    background: #6B40FF;
    opacity: 0.8;
    border-radius: 34px;
    cursor: pointer;
}

.menu-panel .search .button:active{
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.25);
}

.menu-panel .search .button:active > img {
    opacity: 1;
    filter: none;
}

.menu-panel .search .button > img {
    width: 30px;
    height: 30px;

    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 1));
    border-radius: 15px;
}


.menu-panel .search input {
    background: #201F41;
    box-sizing: border-box;

    padding-left: 5px;
    width: 100%;
    min-width: 80px;
    height: 38px;
    border: none;
    border-radius: 28px;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    outline: none;
    color: #FFFFFF;

    opacity: 0.5;
}

.menu-panel .search input:focus{
    transition: 0.2s;
    opacity: 1;
}

.menu-panel .search input:hover{
    transition: 0.2s;
    opacity: 1;
}


footer {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px 80px;
    gap: 10px;

    background: rgba(28, 16, 38, 0.5);
    box-shadow: 0 -4px 4px 4px rgba(255, 255, 255, 0.25);
}

footer .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    max-width: 575px;
}

footer .left .content {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

footer .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

footer .logo .logo-img{
    width: 46px;
    height: 46px;
}

footer .logo .text{
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

footer .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
}

footer .right .content {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: right;
    color: #FFFFFF;
}

footer .right .media {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
}

footer .right .media img {
    width: 30px;
    height: auto;
}

/* @media (max-width: 700px){ */
@media (max-width: 880px){
    nav {
        position: fixed;
    }

    nav .link {
        display: none;
    }
    footer {
        display: none;
    }

    nav .right .menu {
        display: contents;
    }
}

@media (max-width: 900px) {
    .menu-panel {
        flex-direction: column;
        gap: 5px;
    }

    .menu-panel .flex-row {
        flex-direction: column;
        align-items: center;
        gap: 3px;
    }
}



.error {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.error h1 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    /* line-height: 71px; */
    color: #FFFFFF;
}

.error p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    /* line-height: 71px; */
    color: #FFFFFF;
}

.error a {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    /*line-height: 40px;*/
    text-align: center;
    color: blueviolet;
}