main {
  padding-bottom: 184px;
  position: relative;
}

.main {
  max-width: 1070px;
  width: 100% ;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  gap: 40px;
  padding: 0 15px;
}

.main .header {
  width: 100%;
}

.main .header h1 {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  /* line-height: 53px; */
  color: #FFFFFF;
}

.main .header .divider {
  height: 3px;
  background: linear-gradient(90deg, #009EFD 0%, rgba(0, 158, 253, 0) 100%);
}

.main .header h2 {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  /* line-height: 53px; */
  color: #FFFFFF;
}

.main .content {
  max-width: 875px;
  width: 100%;
  align-self: flex-start;
}

.main .content .games {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: fit-content;
}

.main .content .games .game {
  width:100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  
  background: #1C1026;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}  

.main .content .games .game > img {
  box-shadow: 4px 0px 4px 2px rgba(255, 255, 255, 0.25);
  max-width: 180px;
  object-fit: contain;
  width: 100%;
}

.main .content .games .game .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 7px;
  min-height: fit-content;
  align-self: stretch;
  padding: 15px 20px 15px 12px;
  flex: 1;
}

.main .content .games .game .column .row {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  width: 100%;
  height: fit-content;
}

.main .content .games .game .column .row.end {
  justify-content: flex-end;
  gap: 25px;
}

.main .content .games .game .column .row.space {
  justify-content: space-between;
}

.main .content .games .game .column .row .info {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.main .content .games .game .column .row h3 {
  font-family: 'Share Tech', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  /* line-height: 27px; */
  /* identical to box height */
  color: #FFFFFF;
}

.main .content .games .game .column .row .platforms {
  display: flex;
  flex-direction: row;
  /* max-height: 30px; */
  /* height: 100%; */
  align-items: center;
  /* gap: 2px; */
}

.main .content .games .game .column .row .platforms > img {
  max-height: 30px;
  height: 100%;
  width: 100%;
  max-width: 30px;
  object-fit: contain;
}

.main .content .games .game .column .row h4 {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  /* line-height: 36px; */
  /* identical to box height */
  text-align: right;
  color: #FFFFFF;
}

.main .content .games .small-game {
  display: none;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  height: fit-content;
  padding: 0 10px 15px 10px;
  
  background: #1C1026;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main .content .games .small-game .info {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}

.main .content .games .small-game .info > img {
  box-shadow: 4px 0px 4px 2px rgba(255, 255, 255, 0.25);
  object-fit: contain;
  max-height: 75px;
  height: 100%;
}

.main .content .games .small-game .info .column {
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  width:100%;
}

.main .content .games .small-game .info .column h3 {
  font-family: 'Share Tech', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 20px; */
  color: #FFFFFF;
  width: 100%;
}

.main .content .games .small-game .info .column h4 {
  font-family: 'Space Mono', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  /* line-height: 27px; */
  /* identical to box height */
  /* text-align: right; */
  color: #FFFFFF;
}

.main .content .games .small-game .info .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.main .content .games .small-game .info .row .platforms {
  display: flex;
  flex-direction: row-reverse;
  max-height: 25px;
  height: 100%;
}

.main .content .games .small-game .info .row .platforms > img {
  max-height: 25px;
  max-width: 25px;
  object-fit: contain;
}

.main .content .games .small-game .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.main .content .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  align-items: center;
  padding: 10px 20px;
  gap: 9px;
  border-radius: 25px;

  /* width: fit-content; */
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  /* line-height: 24px; */
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.main .content .button:hover {
  transition: 0.2s;
}

.main .content .button:active {
  box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.main .content .button.green {
  /* background: #2AF598; */
  background-color: rgba(42, 245, 152, 0.6);
}

.main .content .button.green:hover {
  background-color: rgba(42, 245, 152, 1);
}

.main .content .button.purple {
  /* background: #C424FF; */
  background-color: rgb(196, 36, 255, 0.6);
}

.main .content .button.purple:hover {
  background-color: rgb(196, 36, 255, 1);
}

.main .content .button.blue {
  /* background: #C424FF; */
  background-color: rgb(46, 191, 255, 0.6);
}

.main .content .button.blue:hover {
  background-color: rgb(46, 191, 255, 1);
}


.main .content .total {
  margin-top: 25px;
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  /* justify-content: flex-start; */
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 10px; */
  width: 100%;
  background: #1C1026;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px 10px 15px;
}

/* .main .content .total .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
} */

.main .content .total /*.row */h3 {
  width: 100%;
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  /* line-height: 36px; */
  /* identical to box height */
  color: #FFFFFF;
}

.main .content .total /*.row */h4 {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  /* line-height: 36px; */
  /* identical to box height */
  text-align: right;
  color: #FFFFFF;
}

.main .content .options {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.main .content .options .row {
  gap: 15px;
  display: flex;
  flex-direction: row;
}

.main .content .delivery {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main .content .delivery h3 {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  /* line-height: 36px; */
  /* identical to box height */
  color: #FFFFFF;
}

.main .content .delivery .body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background: #1C1026;
  margin-bottom: 50px;
}

.main .content .delivery .body .image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 100%;
  height: 100%;
  max-width: 80px;
  max-height: 80px;
  min-width: 50px;
  min-height: 50px;

  border: 2px solid #FFFFFF;
  border-radius: 40px;
}

.main .content .delivery .body .image > img {
  width: 100%;
  height: 100%;
}

.main .content .delivery .body .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main .content .delivery .body .column p {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  
  color: #FFFFFF;
}

.main .content .delivery .body .column small {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* line-height: 21px; */

  color: #FFFFFF;
}

@media (max-width: 880px) {
  main {
    padding: 0;
  }
}

@media (max-width: 575px) {

  .main .header h1 {
    font-size: 26px;
  }

  .main .content .button {
    font-size: 14px;
  }

  .main .content .options {
    flex-direction: column-reverse;
  }

  .main .content .options .row {
    flex-direction: column;
  }

  .main .content .games .game {
    display: none;
  }

  .main .content .games .small-game {
    display: flex;
  }

  .main .content .total h3, .main .content .total h4 {
    font-size: 18px;
  }

  .main .content .delivery h3 {
    font-size: 18px;
  }

  .main .content .delivery .body {
    align-items: flex-start;
  }

  .error a {
    font-size: 20px;
  }
}