main {
  position: relative;
  height: fit-content;
}

.main {
  margin-top: 66px;
  max-width: 1310px;
  width: 100%;
  height: fit-content;
  padding: 0 15px;
  margin: 0 auto;
}

.main h1 {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  /* line-height: 54px; */
  /* identical to box height */   
  /* White */
  color: #FFFFFF;
  margin-top: 66px;
}

.main .preview {
  display: flex;
  flex-direction: row;
  gap: 22px;
  justify-content: center;
  align-content: center;
  height: fit-content;
  width: 100%;
}

.main .preview .thumbnail {
  display: flex;
  flex-direction: column;
  max-width: 816px;
  width: 100%;
  height: fit-content;
}

.main .preview .thumbnail > img {
  width:100%;
  object-fit: contain;
  height: auto;
}

.main .preview .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  
  max-width: 442px;
  width:100%;
  height: fit-content;
}

.main .preview .info > header {
  font-family: 'Share Tech', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  /* line-height: 25px; */
  /* or 106% */
  /* Light Gray */
  color: #D9D9D9;
}

.main .preview .info .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main .preview .info .details p {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 141% */
  color: #009EFD;
}

.main .preview .info .details span {
  font-weight: 700;
  color: #2AF598;
}

.main .body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 50px; */
  margin-top: 30px;
  margin-bottom: 184px;
}

.main .body .buy-section {
  display: flex;
  flex-direction: row;
  gap: 5px;
  background: linear-gradient(90deg, #BF1CFF 0%, #009EFD 100%);
  border-radius: 7.25212px;
  padding: 12px 23px 9px 12px;
  justify-content: space-between;
  max-width: 838px;
  /* max-height: 98px; */
  width: 100%;
  height: fit-content
  /* height: 100%; */
}

.main .body .buy-section h2 {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  /* line-height: 44px; */
  /* White */
  color: #FFFFFF;
  /* width:100%; */
  height: 100%;
  width: fit-content;
  /* width:100%; */
}

.main .body .buy-section .column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1px;
  width: fit-content;
  height: 100%;
}

.main .body .buy-section .column .platforms {
  display: flex;
  flex-direction: row-reverse;
  gap: 1px;
  width: fit-content;
  height: 28px;
}

.main .body .buy-section .column .platforms img {
  max-height: 28px;
  max-width: 28px;
  object-fit: contain;
}

.main .body .buy-section .column .cost-widget {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3.62606px 3.62606px 3.62606px 7.25212px;
  /* gap: 7.25px; */
  gap: 14.5px;
  background: #000000;
  border-radius: 3.62606px;
  width: fit-content;
}

.main .body .buy-section .column .cost-widget h4 {
  /* width: 71px; */
  height: 40.5px;
  
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 18.1303px;
  /* line-height: 25px; */
  /* or 140% */
  display: flex;
  align-items: center;
  /* Light Gray */
  color: #D9D9D9;
  align-self: stretch;
  width: fit-content;
}

.main .body .buy-section .column .cost-widget button {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  padding: 7.25212px 29.0085px;
  
  /* max-width: 163.02px; */
  /* width: 100%; */
  width: fit-content;
  height: 100%;
  /* height: 40.5px; */
  
  background: linear-gradient(180deg, #2AF598 0%, rgba(40, 245, 204, 0.4) 100%);
  border-radius: 1.81303px;

  font-family: 'Share Tech', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  /* line-height: 25px; */
  /* identical to box height, or 106% */
  /* display: flex; */
  align-items: center;

  color: #FFFFFF;

  transition: 0.3s linear;
  /* -webkit-transition: background 0.3s ease-out;   */
  /* -moz-transition: background 0.3s ease-out;   */
  /* -o-transition: background 0.3s ease-out;   */
  /* transition: background 0.3s ease-out;  */
  cursor: pointer;
}

.main .body .buy-section .column .cost-widget button:hover {
  /* -webkit-transition: background 0.3s ease-out;   */
  /* -moz-transition: background 0.3s ease-out;   */
  /* -o-transition: background 0.3s ease-out;   */
  /* transition: background 0.3s ease-out;  */
  transition: 0.3s linear;
  background: linear-gradient(180deg, #2AF598 0%, rgba(40, 245, 204, 1) 100%);
}

/* .main .body .content {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
  height: fit-content;
} */


.main .body /*.content*/ h3 {
  margin-top: 50px;
  font-family: 'Share Tech', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 25px;
  /* or 98% */
  width: fit-content;
  /* Light Gray */
  color: #D9D9D9;
}

.main .body .line {
  background: linear-gradient(90deg, #009EFD 0%, rgba(0, 158, 253, 0) 100%);
  height: 3px;
  width: 100%;
}

.main .body > p {
  margin-top: 22px;
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 19.9433px;
  /* line-height: 25px; */
  /* or 127% */
  color: #C4C4C4;
  margin-bottom: 32.5px;
}

@media (max-width: 960px) {
  .main .preview {
    flex-direction: column;
  }

  .main h1 {
    margin-bottom: 14px;
  }
}

@media (max-width: 880px) {
  .main .body {
    margin-bottom: 0;
  }
}

@media (max-width: 695px) {
  .main .body .buy-section {
    flex-direction: column;
  }

  .main .body .buy-section .column {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .main .body .buy-section .column .platforms {
    flex-direction: row;
  }
}

@media (max-width: 435px) {
  .main h1 {
    font-size: 24px;
  }

  .main .preview .info > header {
    font-size: 18px;
  }
  .main .preview .info .details p {
    font-size: 18px;
  }
  .main .body .buy-section h2 {
    font-size: 18px;
  }
  
  .main .body .buy-section .column .cost-widget h4 {
    font-size: 16px;
  }

  .main .body .buy-section .column .cost-widget button {
    font-size: 21px;
  }

  .main .body /*.content*/ h3 {
    font-size: 24px;
  }
  
  .main .body > p {
    font-size: 18px;
  }
}