body {
    display: flex;
    position: relative;
    background: #6B40FF;
    box-sizing: initial;
    border: none;
}

main {
    position: absolute;
    /* padding: 110px 0 0; */
    padding: 60px 0 0;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    /*justify-content: center;
    align-items: center;*/
}

.background {
    position: absolute;
    /*width: 1090px;*/
    height: 100%;
    max-height: calc(100vh - 50px);
    box-sizing: border-box;
    /*height: 974px;*/
    right: 0;
    top: 50px;
}

.background .mask {
    position: absolute;
    top: 0;
    right: 0;
   /* width: 75.6944444444vw!*1090px*!;*/
    width: 100%;
    box-sizing: border-box;
    /*height: 974px;*/
    height: 100%;
    background: linear-gradient(90deg, #6B40FF 26.44%, rgba(10, 1, 17, 0.5) 88.54%);
}

.background > img {
    box-sizing: border-box;

    /*height: 972px;*/
    height: calc(100% - 4px);
}

.main {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    /*padding-top: 40px;*/
    gap: 25px;

    /*width: 434px;*/
    /*height: 431px;*/
    width: fit-content;
    height: fit-content;
    padding: 40px 72px 70px;
    margin-left: auto;
    margin-right: auto;

    background: #201F41;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
}

.main h1 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 71px;
    color: #FFFFFF;
}

.fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    /*width: 290px;*/
    width: fit-content;
    height: fit-content;
    /*height: 101px;*/
}

input {
    background: #201F41;
    box-sizing: border-box;

    width: 290px;
    height: 38px;

    border: 1px solid #c4c4c4;
    border-radius: 28px;
    padding-left: 15px;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;

    opacity: 0.5;
}

input:focus, input:hover{
    transition: 0.2s;
    opacity: 1;
    border: 2px solid #FFFFFF;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    width: 280px;
    height: 83px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 7px 30px;
    gap: 10px;

    width: 280px;
    height: 50px;

    background: #009EFD;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    color: #FFFFFF;
}

.button:hover {
    transition: 0.2s;
    /*background: #39d0c9;*/
    /*box-shadow: inset 4px 4px 4px 4px rgba(255, 255, 255, 0.25);*/
    background: #02d8ff;
}

.button:active {
    transition: 0.4s;
    /*box-shadow: none;*/
    box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    background: #02d8ff;
}

.options {
    display: flex;
    flex-direction: row;
    /*align-items: !*flex-start*!center;*/
    /*align-content: center;*/
    justify-content: center;
    gap: 32px;

    width: 280px;
    height: 18px;
}

.options small {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: calc(1.208333333rem - 0.37037037vw);
    line-height: 18px;

    text-align: center/*right*/;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}

@media (max-width: 1322px) {
    .options {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

@media (max-width: 451px){
    body {
        background: #201F41;
    }
    .background {
        display: none;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main {
        all: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        position: absolute;
        width: 360px;
        height: 395px;
        margin-left: auto;
        margin-right: auto;
        top: 130px;
    }
}